:root {
  --键盘背景色: #111210;
  --键边框颜色: #3a3935;
  --键边框大小: .05rem;
  --键圆角: .5rem;
  --背景色1: #20211f;
  --字体色1: #f1eee8;
  --上标字符色1: #aaa39a;
  --背景色2: #30312e;
  --字体色2: #ece7de;
  --上标字符色2: #b3aca2;
  --⏎背景色: #f1eee8;
  --⏎字体色: #171716;
  --空格: #d4aa45;
  --候背景色: #171716;
  --候字体颜色: #e6e1d8;
  --候高亮首选色: #d4aa45;
  --候底线颜色: #383632;
  --V背景色: #171716;
  --底栏字色: #aaa39a;
  --uifj键色: #d4aa45;
  --展开界面背景: #171716 !important;
  --展开键背景: #30312e !important;
  --展开键字色: #ece7de !important;
  --展开键边框: .05rem solid #4b4943 !important;
}
